name: Continuous Deployment

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1.0.7
        with:
          toolchain: stable
          profile: minimal

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          prerelease: ${{ contains(github.ref, '-') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Publish to crates.io
        if: ${{ success() }} && !contains(github.ref, '-')" # skip prereleases
        uses: actions-rs/cargo@v1.0.3
        with:
          command: publish
          args: --token ${{ secrets.CRATES_IO_TOKEN }}
